h1.title {
    @extend .header-txt-shadow;
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 1px 1px 2px $text-shadow;
}

//Shared css in _post.scss
.page__share {
  position: relative;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
}

.page__share {
margin-bottom: 0.7100em;
}
